<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2018@毕业纪念册</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/init.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/produce.css">
    <script type="text/javascript" src="./javascripts/lib/flexible.js"></script>
    <script type="text/javascript" src='./javascripts/lib/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src="./javascripts/dist/produce.js"></script>

</head>
<body>

    <div class="container"> 
        <div class="banner">
            <img src="./images/produceBanner.png">
        </div>
        <div class="photoWall">
            <div class="photos">
                <div class="ulContainer">
                    <ul class="photoList">
                        <li class="photoItem">
                        </li>
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                    </ul>
                    <ul class="photoList">
                        <li class="photoItem"></li>
                        <li class="photoItem myPhoto"></li>
                        <li class="photoItem"></li>
                    </ul>
                    <ul class="photoList">
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stamp">
            <div class="userinfo">
                <span class="toName"></span>
            </div>
            <p class="sentence">
            </p>
        </div>
        <div class="foot">
            <div class="save">
                长按保存图片
            </div>
            <div class="codes">
                <img class='code' src="./images/code.png">
            </div>
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
    <script src="https://wx.idsbllp.cn/wx-api/share.js "></script>
    <script type="text/javascript">
        WXSHARE.config({ debug: false });
        WXSHARE.ready(function() {
        var option = {
            title: "2018@毕业纪念册",
            link: "https://wx.idsbllp.cn/graduate",
            imgUrl: './images/xiaohui.jpg',
            desc: '一朝重邮人，一生重邮情',
            type: '',
            success: function() {
                console.log('分享成功');
            },
            cancel: function() {
                console.log('取消分享');
            },
        };
        wx.onMenuShareTimeline(option);
        wx.onMenuShareAppMessage(option);
        wx.onMenuShareQQ(option);
        wx.onMenuShareWeibo(option);
        wx.onMenuShareQZone(option);
    });
    </script>
    
</body>
</html>